.article{
    padding: 0 15px 50px 15px;
}
.article h3{
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.article h4{
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
}
.article p{
    font-size: 13px;
    line-height: 22px;
    word-wrap:break-word;
}
p.title{
    text-indent: 2em;
}
.article p img{
    max-width: 100%;
}